

h2 {
    color:crimson
}
h3 {
    color:rgb(255, 0, 140)
}

h1 { color:blue
}
ul{color:rgb(7, 150, 78);
    font-size: 20px;

}

h4{font-size: 22px;}
ol {background-color: rgba(0, 0, 255, 0.322);
    font-size: 20px;
   
    
}

ol:hover{
    background-color: #2aa52c;
    font-size: 35px;
    transition: 2s;
}


header {background-color: rgb(15, 14, 11);}
main {background-color: rgb(105, 245, 152);
    
}
footer {background-color: rgb(248, 7, 7);}
body{background-color: aqua;}

li {color: red}
p{color:brown;
font-size: 20px;
}
.milah3{ color:rgba(0, 0, 255, 0.849);
         font-size: 20px;
         text-decoration:overline;
         font-size: 30px;
         text-decoration-color: rgb(43, 226, 89);
        
}

.pizza1{
  text-decoration:underline;
  font-size: 30px;
  text-decoration-color:red;
  text-decoration-line: overline;
 
}


.menus{
    background-color: rgb(170, 170, 11);
    display:flex;
    flex-direction: column;
    justify-content:left;
   
}
.especialidades1{ background-color: #2aa52c;
   display: flex;
justify-content: center;
    
}
.especiales2{
           background-color:rgb(255, 232, 127);
           
           
}

.cambios{ text-transform: uppercase;
        margin-block-start: 2cap;
        font-size: x-large;
        text-decoration: rgb(55, 238, 9);


}

.caja-de-comidas{
     background-color: rgb(233, 233, 14);
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    border: 2px solid black;
    padding: #ccc 15px;
    list-style: none ;
    flex-wrap: wrap;
}
.butt{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.butt:active{transform: scale(2);}

.butt:hover{background-color: chartreuse;}

